nav {
  width: 95%;
  /* background-color: hsl(180, 1%, 14%); */
  color: rgb(252, 252, 252);
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  box-sizing: border-box;
  transform: translate(-50%);
  text-transform: uppercase;
}
.logo {
  width: 85px;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}
.dark-nav {
  border: solid;
  background: rgb(16, 15, 15);
  transition: 0.5s;
  border-radius: 20px;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .logo {
    width: 70px;
  }
  nav ul li {
    margin: 10px 15px;
  }
}
@media (max-width: 840px) {
  nav {
    padding: 15px 0;
     margin: 9px 13px;
     
  }
  nav ul {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 200px;
   
    border-radius: 10px;
    padding-top: 70px;
    transition: 0.5s;
    height:900px;
  }
  nav ul li{
    display: block;
    margin: 25px 50px;
  }
}
