@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  
}
body {
 
  background: rgb(16, 15, 15);
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container {
  padding-left: 10%;
  padding-right: 10%;
}
.btn {
  text-transform: uppercase;
  color: #efe7e7;
  font-size: 16px;
  padding: 14px 25px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline flex;
  align-items: center;
  justify-content: center;
  background:#A98467;
  transition: 0.4s ease;
}

.btn:hover {
  transform: translateY(-5px);
}


@media (max-width:1220px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 20px ;
  }
}